@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

.companies-hiring {
    position: relative;
}

.ring {
    width: 800px;
    height: 800px;
    border: 0.5px solid #a5c8ff;
    border-radius: 100%;
    background-color: #f1f6fe;
}

.ring-banner h3 {
    margin-top: 150px;
}

.company-contianer {
    background-color: transparent;
    width: 1px;
    height: 440px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 12% 100%;
    animation: 30s linear 0s infinite normal none running rotation;
}

.companies {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-color);
}

.companies img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    /* animation: rotation 30s infinite linear;
    animation-direction: reverse; */
}

.companies-hiring-banner {
    position: absolute;
    top: 420px;
    background: var(--bg-gradient);
    height: 575px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-hiring-banner img {
    width: 120px;
    height: 120px;
    margin: 6px 12px;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {

    .ring,
    .company-contianer,
    .companies {
        display: none;
    }

    .companies-hiring-banner {
        position: static;
        background: var(--bg-gradient);
        height: 353px;
        width: 100%;
    }

    .companies-hiring-banner img {
        width: 67px;
        height: 67px;
        margin: 6px 12px;
    }
    .companies-hiring{
        background: var(--bg-gradient);
        color: white;
    }
    .section-title-main h2{
        margin-bottom: 0rem !important;
    }
    .section-title-main h2::after,
    .section-title-main h2::before{
        background-color: white;
    }
    .company-banner-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 410px) {
    .companies-hiring-banner {
        position: static;
        background: var(--bg-gradient);
        height: 450px;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .companies-hiring {
        background: url('../res/image/galaxy.jpg') center no-repeat;
        background-size: cover;
        color: white;
    }

    .ring {
        background: url('../res/image/earth.jpg') center no-repeat;
        background-size: 1732px;
    }

    .companies-hiring-banner {
        background: linear-gradient(180deg, transparent, rgb(0, 0, 0) 90%);
        top: 423px;
    }

    .ring-banner h3 {
        font-size: 3rem;
        text-shadow: 3px 3px 10px black;
        font-weight: 700;
    }
    .ring{
        margin-top: 50px;
    }
}