
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

/* Colors */
:root {
    --color-primary: #0d42ff;
    --color-secondary: #0e1d34;
  }
  
  body {
  font-family: var(--font-default);
}

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  
  .hero {
    width: 100%;
    min-height: 50vh;
    background-color: var(--color-secondary);
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .hero .stats-item span {
    font-size: 32px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  }
  
  .hero .stats-item span:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  
  