:root {
    --h-c: rgb(26, 15, 53);
    --text-color: black;
    --theme-color: #0b4380;
    --clg-clr: white;
    --sub-menu-bg: rgb(237, 235, 241);
    --bg-gradient: linear-gradient(90deg, #122a4b, #0b4380) center no-repeat;
}

body {
    margin: 0px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow-x: hidden;
}

.section-title-main h2 {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.section-title-main h2::after,
.section-title-main h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--bg-gradient);
    display: inline-block;
}

.section-title-main h2::before {
    margin: 0 15px 10px 0;
}

.section-title-main h2::after {
    margin: 0 0 10px 15px;
}

.section-title-main {
    text-align: center;
    padding: 20px 0 15px 0;
}

@keyframes slideToLeft {
    0% {
        width: 0px;
    }

    100% {
        width: 260px;
        display: flex;
    }
}

@keyframes slideToRight {
    0% {
        width: 260px;
    }

    100% {
        width: 0px;
    }
}

.admission-card {
    width: 260px;
    height: 260px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    z-index: 10;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    animation: slideToRight 0.2s linear forwards;
}

.admission-card span {
    width: 117px;
    rotate: -90deg;
    position: absolute;
    top: 50px;
    left: -80px;
    background-color: #00c1a1;
    padding: 12px;
    border: 1px solid #00c1a1;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.admission-card-holder {
    width: 260px;
    height: 260px;
    border: 10px solid white;
    background-color: #00c1a1;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.card-hover{
    transition: 0.3s ease-out;
    color: white;
}
.card-hover img{
    filter: grayscale(0.5);
}
.card-hover:nth-child(1){
    background-color: #5f9ed1;
}
.card-hover:nth-child(2){
    background-color: #5fd192;   
}
.card-hover:nth-child(3){
    background-color: #d3d00f;
}

.card-hover:hover{
    position: relative;
    box-shadow: 0px 3px 5px rgb(184, 182, 182);
}
.card-hover:nth-child(1):hover{
    background-color: #1f4a6d;
    transform: scale(1.06) translateX(-6px);
}
.card-hover:nth-child(2):hover{
    background-color: #0c5e31; 
    transform: scale(1.05) translateX(0px);
}
.card-hover:nth-child(3):hover{
    background-color: rgb(177, 151, 2);
    transform: scale(1.06) translateX(6px);
}
.card-hover:hover img{
    filter: grayscale(0);
}
.field-container{
    width: 100vw;
    background: linear-gradient(0deg, rgb(232 236 243 / 70%), rgb(235 238 239 / 99%)), url(https://www.onlygfx.com/wp-content/uploads/2021/07/cartoon-cloud-sky-background-4-cover.jpg) no-repeat center;
    background-size: cover;
}