.testimonial{
    text-align: center;
    margin: 0 15px;
}
.testimonial .description{
    padding: 15px;
    margin: 0;
    border-top: 4px solid #00008B;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: white;
    line-height: 30px;
    position: relative;
}
.testimonial .description:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00008B;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: gray;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #00008B;
}
.test{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../res/image/img5.jpg') no-repeat fixed;
    background-size: cover;
}
.section-title-main h2{
    color: white;
}